.main {
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 50px;
  background: indigo;
}

.tilearea {
  float: right;
  width: 560px;
}

.tile-normal {
  font-family: 'Arvo';
  font-size: 72px;
  float: left;
  width: 120px;
  height: 120px;
  background: white;
  border-color: black;
  border: solid 10px;
  text-align: center;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.tile-empty {
  float: left;
  width: 120px;
  height: 120px;
  background: black;
  border-color: black;
  border: solid 10px;
  text-align: center;
  cursor: pointer;
}
