.main {
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 50px;
  background: #330031;
}

.tilearea {
  float: right;
  min-width: 600px;
}

.tile-normal {
  font-family: 'Arvo';
  font-size: 72px;
  float: left;
  width: 120px;
  height: 120px;
  background: #c3d30c;
  color: #da014a;
  border: solid 10px #3f93b3;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  margin: 1px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.tile-normal:hover {
  border-color: #53a122;
}

.tile-empty {
  float: left;
  width: 120px;
  height: 120px;
  background: #f31c04;
  border: solid 10px #f45f01;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  margin: 1px;
}
